{% extends 'base.html'%} 
{% block title %} Home Page {% endblock %} 

{% block userName %} 
    {% if session['name'] %}
    <span>{{ session['name'] }}</span> 
    {% else %}
    <span>Guest</span> 
    {% endif %} 
{% endblock %} 

{% block navList %}
    <!-- NavMenu -->
    <li class='search_nav_btn hidden'><a href='/home'>Search Location</a></li>
    {% if session['name'] %}
        <li><a href='/profile'>Profile</a> </li>
        <li><a href='/myorder'>Orders</a> </li>
        <li><a class='cart_navBtn' data-value="0" href='/cart'>Cart</a> </li>
        <li><a href='/sign-out'>Logout<span> </span><strong>></strong></a> </li>
    {% else %}
        <li><a class='cart_navBtn' data-value="0" href='/cart'>Cart</a> </li>
        <li><a href='/login'>Login</a> </li>
        <li><a href='/signup'>Signup</a> </li>
    {% endif %}
{% endblock %}

{% block body %}

<h3 class='homePageHeader'> Home Page </h3>

<!-- search region -->
<div class='search_location_div jumbotron'>
    <div>
        <input type="text" class='manualLocation' placeholder="Enter your City name or Pin Code" name="search" value="{{city}}">
        <button class='search_hotel'><span>Search Location</span></button>
    </div>
</div>
<!-- hotel list container -->
<div class="container test hotel_listing_div hidden">
    <h3 class='hotel-header'> Hotels </h3>
    <br>
    <div class='cards'>
    </div>
</div>
{% endblock %}