<!DOCTYPE html>
<html lang="en">
<head>
	<title>Foodie Corner-Search Dish/Rest</title>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="{{url_for('static' ,filename ='images/icons/favicon.ico')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='fonts/iconic/css/material-design-iconic-font.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='vendor/bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='vendor/animate/animate.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='vendor/css-hamburgers/hamburgers.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='vendor/animsition/css/animsition.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='vendor/select2/select2.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='vendor/daterangepicker/daterangepicker.css')}}">
	<!---->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script>
		$(document).ready(function(){
  		$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
</head>
<body style="background-color: #ee4444;">
	
	<div class="limiter">
		<div class="container-login100" style="background-color: #ee4444;">
			<div class="login100-moree" >
				<img src="{{url_for('static' ,filename='images/icons/mainlogo.png')}}" width=150 height=150>
				</img>
				<a href="searchlocation.html" class="">____________________________<Label></Label></a>&nbsp;&nbsp;
				<a href="home.html" class="button1">Home <Label></Label></a>&nbsp;&nbsp;
				<a href="searchdishes.html" class="button">Search <Label></Label></a>&nbsp;&nbsp;
				<a href="#" class="button1">Offers <Label></Label></a>&nbsp;&nbsp;
				<a href="#" class="button1">Profile <Label></Label></a>&nbsp;&nbsp;
				<a href="#" class="button1">Cart <Label></Label></a><br><br><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="text" id="dishesrest" name="dishesrest" value="Search for dishes or Restaurant..." onfocus="this.value=''" >
				<button type="submit" class="searchButton" height=80 >
					<img src="{{url_for('static' ,filename='images/icons/search.jpg')}}" width=50 height=54 data-toggle="tooltip" title="Click to Search"></img>
				</button>		
			</div>
		</div>
	</div>
</body>
</html>